extends ../layout
block content
  .container
    .row
      .input-group.col-sm-6
        .input-group-btn
          button.btn.btn-success.getTop 一键导入豆瓣TOP250数据

  .container
    .row
      table.table
        thead
          th 电影名字
          th 导演
          th 国家
          th 分类
          th.reRankYear 上映年份
            i.fa.fa-arrow-down
          th 录入时间
          th 详情
          th 更新
          th 删除
          th 访问量
          th 海报

        tbody
          each item in movies
            tr(class="item-id-#{item._id}")
              td.title #{item.title}
              td.doctor #{item.doctor}
              td.country #{item.country}
              th.category
                if (item.category)
                  | #{item.category.name}
              td.year #{item.year}
              td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
              td
                a(target="_blank", href="/movie/#{item._id}") 查看
              td
                a(target="_blank", href="/movie/update/#{item._id}") 修改
              td
                button.btn.btn-xs.btn-danger.del(tyep="button",data-id="#{item._id}") 删除
              td #{item.pv}
              td
                if item.poster
                  a(href="#{item.poster}").showImage 预览
                else
                  a(target="_blank", href="#") 上传海报

  script.
    $(function(){
      $('.getTop').click(function(){
        var task = 0
        var count = 100
        //- setInterval 第一次执行的时候是会有延时的
        //- 定时器内部不会出现task = 0 
        Doajax(task * count, count)
        var interval = setInterval(function (){
          task++
          //- console.log(task);
          if(task == 1){
            Doajax(task * count, count)
          }else if (task == 2) {
            Doajax(task * count, 50)
          }else{
            clearInterval(interval)
          }
        },60*1000)
      });

      $('.del').click(function(e){
        var target = $(e.target)
        var id = target.data('id')
        var tr = $('.item-id-' + id)
        $.ajax({
          type: 'DELETE',
          url: '/movie/list?id=' + id
        })
        .done(function(results) {
          if (results.success === 1) {
            if (tr.length > 0) {
              tr.remove()
            }
          }
        })
      })

      $('.reRankYear').click(function(){
        console.log('---');
        window.location.href = window.location.href + '?rank=-1'
      })
    })

    //- 请求排行数据
    function Doajax(start,count){
      $.ajax({
        url:'https://api.douban.com/v2/movie/top250?start='+ start +'&count=' + count,
        cache: true,
        type: 'get',
        dataType: 'jsonp',
        crossDomain: true,
        jsonp: 'callback',
        success:function(results){
          var task = 0
          DoajaxAgain(task,results.subjects[task].id)
          var child_interval = setInterval(function () {
            task++
            var id = results.subjects[task].id
            DoajaxAgain(task,id)
            if(task >= results.subjects.length) clearInterval(child_interval)
          }, 10*1000);
        }
      })
    }
    
    //- 请求详细的电影信息
    function DoajaxAgain(task,id){
      $.ajax({
        url: 'https://api.douban.com/v2/movie/subject/' + id,
        cache: true,
        type: 'get',
        dataType: 'jsonp',
        crossDomain: true,
        jsonp: 'callback',
        success: function(data) {
          var title = data.title
          var doctor = data.directors[0].name
          var country = data.countries[0]
          var poster = data.images.large
          var year = data.year
          var summary = data.summary
          var categoryName = data.genres[0]
          $.ajax({
            type:'post',
            url:'/movie/saveBatch',
            data:{
              title:title,
              doctor:doctor,
              country:country,
              poster:poster,
              year:year,
              summary:summary,
              categoryName:categoryName
            },
            success:function(data1){
              if(data1.status === 200){
                console.log(task + ' : ' + id + ' : ' + title + 'ok');
              }else {
                console.log(data1.err);
              }
            }
          })
        },
      })
    }
