extends ../layout
block content
  .container
    .row
      if movies && movies.length > 0
        .panel.panel-default
          .panel-heading
            h3 #{keyword}
          .panel-body
            each item in movies
              .col-md-2
                .thumbnail
                  a(href="/movie/#{item._id}")
                    if item.poster.indexOf('https:/') > -1
                      img(src="#{item.poster}", alt="#{item.title}")
                    else
                      img(src="/images/#{item.poster}", alt="#{item.title}")
                  .caption
                    h6 #{item.title}
                    if item.video_url
                      a.btn.btn-xs.btn-info(href="/movie/#{item._id}", role="button") 播放视频
                    else
                      a.btn.btn-xs.btn-info(href="/movie/#{item._id}", role="button") 查看电影条目信息
          
        ul.pagination
          - for (var i = 0; i < totalPage; i++) {
            - if (currentPage == (i + 1)){
                li.active
                  span #{currentPage}
            - }
            - else{
                li
                  a(href="/index/results?#{query}&p=#{i}") #{i + 1}
            - }
          - }
            
